.sticky {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 75px;
}

ul.no-marker {
    list-style-type: none;
}

ul.no-marker::after {
    display: block;
    content: "";
    margin-inline: auto;
    width: 3px;
    height: 100px;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}
