.navbar {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    background-color: var(--navbar);
}

.div-logo {
    position: relative;
}

.logo {
    width: 30px;
    margin: 2px 0 0 0;
}

.brand {
    padding: 0.5em;
    margin-top: 0.75em;
}

.inline-ele {
    display: inline;
}

.menu {
    color: var(--navbar-text);
}

ol {
    overflow: hidden;
    float: right;
    padding: 0;
    margin: 0;
}
ol li {
    display: inline-block;
    padding: 0.5em;
    transition: all 0.3s ease;
}

ol li:hover {
    background-color: var(--highlight);
    color: #fff;
}

#resume {
    border: 1px solid var(--accent);
}
