:root {
    /* final colors */
    --background: rgb(16, 15, 15);
    --accent: rgb(0, 129, 228);
    --highlight: #fd6136;
    --secondary: rgba(238, 238, 238, 0.758);
    --navbar: #1c1c1c;
    --navbar-text: #494949;

    /* fonts */
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text",
        -apple-system, system-ui, sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.subpart-h2 {
    color: var(--accent);
}

.general-div {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
}

body {
    background-color: var(--background);
    color: var(--secondary);
}
