.header {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 35%;
    padding-bottom: 40%;
}

.header_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header-p {
    margin: 20px 0 0 0;
}
.header-h1 {
    margin: 0;
}
.header-h2 {
    margin: 0;
}
.header-h3 {
    font-size: smaller;
    margin: 0;
}
